@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.locations {
    text-align: center;

    &__title {
        padding: 1rem;
        background-color: $prim-color-3;
        margin-bottom: 1rem;

        & h1 {
            color: $prim-color-2;
        }
    }

    &__store {
        padding: 1rem 0rem;
        margin: 0rem 1rem 0rem;
        border-top: 1px solid $prim-color-2;

        &.main {
            border-top: none;
            padding: 0rem 0rem 1rem;
        }
        

        & h2 {
            color: $prim-color-2;
        }

        & img {
            width: 100%;
            height: auto;
            padding-top: 0.5rem;
        }
    }
}