@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    text-align: center;

    &__title {
        padding: 1rem;
        background-color: $prim-color-3;
        // border-top: 1px solid $prim-color-2;

        & h1 {
            color: $prim-color-2;
        }

        & button {
            margin: 0.5rem 0rem;
            padding: 4px;
            background: $prim-color-1;
            border: 1px solid $sec-color-2;
            box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.3);
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
}