@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    padding: 1rem;
    text-align: center;

    &__image-one {
        float: right;
        width: 15rem;
    }

    &__image-two {
        float: left;
        width: 15rem;
    }

    &__image-three {
        float: right;
        width: 15rem;
    }
}