@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {

    &__buko {
        padding: 1rem 1rem 0rem;

        & h1 {
            color: $prim-color-2;
            padding: 0.5rem 0rem;
            border-top: 1px solid $prim-color-2;
        }

        &-info {
            text-align: left;

            & img {
                width: 100%;
                height: auto;
                padding-top: 0.5rem;
            }
        }
    }

    &__lety {
        padding: 1rem 1rem 0rem;

        & h1 {
            color: $prim-color-2;
            padding: 0.5rem 0rem;
            border-top: 1px solid $prim-color-2;
        }

        &-info {
            text-align: left;

            & img {
                width: 100%;
                height: auto;
                padding-top: 0.5rem;
            }
        }
    }

    &__products {
        padding: 1rem 1rem 0rem;

        & h1 {
            color: $prim-color-2;
            padding: 0.5rem 0rem;
            border-top: 1px solid $prim-color-2;
        }

        &-info {
            text-align: center;

            & img {
                width: 60%;
                height: auto;
                padding-bottom: 0.5rem;
                object-fit: cover;
            }
        }

        &-item {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;
            padding: 0.5rem 0rem;

            & button {
                padding: 4px;
                background: $prim-color-1;
                border: 1px solid $prim-color-3;
                box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.3);
                cursor: pointer;
            }
        }
    }

    &__location {
        padding: 1rem 1rem 0rem;

        & h1 {
            color: $prim-color-2;
            padding: 0.5rem 0rem;
            border-top: 1px solid $prim-color-2;
        }

        &-info {
            text-align: center;

            & img {
                display: none;
                width: 100%;
                height: auto;
                padding-top: 0.5rem;
            }

            & button {
                margin: 0.5rem 0rem;
                padding: 4px;
                background: $prim-color-1;
                border: 1px solid $prim-color-3;
                box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.3);
                cursor: pointer;
            }
        }
    }
}